---
pagination:
  data: authors
  size: 1
  alias: author
  resolve: values
permalink: "/feed/{{ author.slug }}.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
     xmlns:atom="http://www.w3.org/2005/Atom"
     xmlns:content="http://purl.org/rss/1.0/modules/content/"
     xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title>{{ site.title }} — {{ author.name }}</title>
    <link>{{ site.url }}/authors/{{ author.slug }}/</link>
    <atom:link href="{{ site.url }}/feed/{{ author.slug }}.xml" rel="self" type="application/rss+xml"/>
    <description>Writing by {{ author.name }} on {{ site.title }}.</description>
    <language>{{ site.language }}</language>
    {% set authorPosts = [] %}
    {% for post in collections.posts %}{% if post.data.author == author.slug %}{% set authorPosts = (authorPosts.push(post), authorPosts) %}{% endif %}{% endfor %}
    {% if authorPosts.length %}<lastBuildDate>{{ authorPosts[0].date | rfc822 }}</lastBuildDate>{% endif %}
    {% for post in authorPosts %}
    <item>
      <title>{{ post.data.title | escape }}</title>
      <link>{{ post.url | absUrl(site.url) }}</link>
      <guid isPermaLink="true">{{ post.url | absUrl(site.url) }}</guid>
      <pubDate>{{ post.date | rfc822 }}</pubDate>
      <dc:creator>{{ author.name | escape }}</dc:creator>
      <author>{{ author.email }} ({{ author.name | escape }})</author>
      {% for t in post.data.tags %}{% if t != "post" %}<category>{{ t }}</category>{% endif %}{% endfor %}
      <description>{{ post.data.description | escape }}</description>
      <content:encoded><![CDATA[{{ post.templateContent | safe }}]]></content:encoded>
    </item>
    {% endfor %}
  </channel>
</rss>
