---
permalink: /feed.json
eleventyExcludeFromCollections: true
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": {{ site.title | dump | safe }},
  "home_page_url": "{{ site.url }}",
  "feed_url": "{{ site.url }}/feed.json",
  "description": {{ site.description | dump | safe }},
  "language": "{{ site.language }}",
  "authors": [
    {"name": "Vlad Sterngold", "url": "https://sterngold.ai"},
    {"name": "Milena S. Nikolova, PhD", "url": "https://behavior-smart.com"}
  ],
  "items": [
    {%- for post in collections.posts %}
    {%- set authorObj = authors[post.data.author] %}
    {
      "id": "{{ post.url | absUrl(site.url) }}",
      "url": "{{ post.url | absUrl(site.url) }}",
      "title": {{ post.data.title | dump | safe }},
      "summary": {{ post.data.description | dump | safe }},
      "date_published": "{{ post.date | isoDate }}",
      "authors": [{"name": {{ authorObj.name | dump | safe }}, "url": {{ authorObj.url | dump | safe }}}],
      "tags": [{% for t in post.data.tags %}{% if t != "post" %}{{ t | dump | safe }}{% if not loop.last %},{% endif %}{% endif %}{% endfor %}],
      "content_html": {{ post.templateContent | dump | safe }}
    }{% if not loop.last %},{% endif %}
    {%- endfor %}
  ]
}
