---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url><loc>{{ site.url }}/about/</loc></url>
  <url><loc>{{ site.url }}/posts/</loc></url>
  <url><loc>{{ site.url }}/tags/</loc></url>
  <url><loc>{{ site.url }}/search/</loc></url>
  {% for post in collections.posts %}
  <url>
    <loc>{{ post.url | absUrl(site.url) }}</loc>
    <lastmod>{{ post.date | isoDate }}</lastmod>
  </url>
  {% endfor %}
  {% for tag in collections.tags %}
  <url><loc>{{ site.url }}/tags/{{ tag }}/</loc></url>
  {% endfor %}
  {% for slug, _ in authors %}
  <url><loc>{{ site.url }}/authors/{{ slug }}/</loc></url>
  {% endfor %}
</urlset>
